<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>To-Do lists</title>
  </head>

  <body>
    <h1>Your To-Do list</h1>
    {% comment %}
      This template (home.html) gets used by multiple views. However, only
      the `home_page` view is set up to do anything with POSTs. Thus we
      cannot do what we usually do and leave off the action attribute in
      the form element because if we do, then when this template is loaded
      by `view_list` and the user makes a form submission, the POST will
      be sent back to `view_list` which won't do anything with the POST
      data.
      The simplest solution then is to do what we have done here and 
      specify the url for POSTing which will send all POST submissions 
      back to `home_page` which can then do all the work associated with
      responding to the form submission.
    {% endcomment %}
    <form method="POST" action="/">
      {% csrf_token %}
      <input id="id_new_item" name="item_text" placeholder="Enter a to-do item" />
    </form>
    <table id="id_list_table">
      {% for item in items %}
        <tr>
          <td>{{ forloop.counter }}: {{ item.text }}</td>
        </tr>
      {% endfor %}{# item in items #}
    </table>
  </body>
</html>
