{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- begin Bootstrap-required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- end Bootstrap-required meta tags -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'lists/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- end Bootstrap CSS -->
    <link href="{% static 'lists/css/base.css' %}" rel="stylesheet">
  </head>

  <body>
    <!-- `containers` are the most basic layout element in bootstrap and
         required when using the default grid system.

         `container` represents a responsive, fixed-width container;
         `container-fluid` represents a full-width container.

         Note that neither container is nestable. -->
    <div class="container">

      <nav class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="/">Superlists</a>
        <form class="navbar-form navbar-right" method=POST">
          {% csrf_token %}
          <span>Enter email to log in:</span>
          <input class="form-control" name="email" type="text" />
        </form>
      </nav>
      
      <!-- `row`s are wrappers for columns -->
      <div class="row">
        <!-- `columns` are the only valid immediate children of rows.
             within the grid system, content must be placed within columns.
             If no width specified, they will automatically be equal-width
             The size-class refers to the minimum breakpoint size for them
             to be rendered side-by-side.
             The number specifies how many of the max 12 columns should be
             taken up by this column -->
        <div class="col-md-6 offset-md-3 jumbotron">
          <div class="text-center">
            <h1>{% block header_text %}{% endblock %}</h1>
            <form method="POST" {% block form_action %}{% endblock %}>
              {% csrf_token %}
              {% if form.errors %}
                <div class="form-group has-error">
                  <span class="help-block">{{ form.text.errors }}</span>
                </div>
              {% endif %}
              {{ form.text }}
            </form>
          </div><!-- text-center -->
        </div><!-- col-md-6 offset-md-3 -->
      </div><!-- row -->

      <div class="row">
        <div class="col-md-6 offset-md-3">
          {% block table %}
          {% endblock table %}
        </div><!-- col-md-6 offset-md-3 -->
      </div><!-- row -->
    </div><!-- container -->

    <!-- load JS -->
    <script src="{% static 'lists/vendor/jquery/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'lists/js/list.js' %}"></script>

    <!-- initialize -->
    <script>
        /* onload (make sure we don't load initialize until the page is
           fully loaded
        */
        $(document).ready(function () {
            window.Superlists.initialize();
        });
    </script>
  </body>
</html>
